body {
    font-family: Arial;
    background: whitesmoke;
    margin: 0;
    
}

h1{
    text-align: center;
}

.navbar{
    display: flex;
    gap: 10px;
    padding: 10px;
    background: white;
}

.container{
    display: flex;
    height: 100vh;
}

.sidebar{
    width: 200px;
    padding: 20px;
    background: white;
}

.sidebar input, .sidebar select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

.main{
    flex-grow: 1;
    padding: 20px;
}

#fleetContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.card{
    background: white;
    padding: 10px;
    border-radius: 5px;
}
.card button{
    width: 100%;
    margin-top: 5px;
    padding: 6px;
}